.App {
   /*text-align: center;*/
   background-color:#3D5A98;
   color:white;
 }
body{
  background-color: #e6eeee;
}
.class1 {
  align-items: center;
  text-align: center;
}

.input3{
margin-left: 58px;
}

.color{
  width:40%;
}
.color{
  width:60%;
}
.color1,.color{
  float:left;
  border:5px;

}


.fbfont{
  font-size:2.6em ;
  margin-left: 210px;
}

img{
  border-radius: 15px;
}

.align{
  float: right;
}
.button1{
  background-color: #4CAF50;
  padding:5px 25px 5px 25px;
  color:white;
}
.input1{
  margin-left: 10px;
}